<div class="message">
  <h4><%= message.user.name %></h4>
  <p><%= message.content %></p>

  <% if message.user == current_user %>
    <div class="update-links">
      <%= link_to 'edit', edit_message_path(message.id) %>
    </div>
  <% end %>

  <% if message.is_edited? %>
    <div>
      <%= "Edited on #{message.updated_at}." %>
    </div>
  <% end %>
</div>
