<h2><%= @channel.name %></h2>

<div class="messages-container">
  <ul class="message-list">
    <% @messages.each do |message| %>
      <li>
        <%= render 'message', message: message, user: message.user %>
      </li>
    <% end %>
  </ul>

  <%= render 'new_message', message: @message, channel: @channel %>
</div>
