<div class="posts-container">
  <ul class="post-list">
    <% @messages.each do |message| %>
      <li><%= render 'message', { message: message, current_user: @user } %></li>
    <% end %>
  </ul>

  <div class="post-form">
    <%= render 'form', { current_user: @user } %>
  </div>
</div>
