<div class="post">
  <h4><%= post.user.name %></h4>
  <p><%= post.content %></p>
  
  <% if post.user == current_user %>
    <div class="update-links">
      <%= link_to 'edit', edit_post_path(post.id) %>
    </div>
  <% end %>
  
  <% if post.is_edited? %>
    <div>
      <%= "Edited on #{post.updated_at}." %>
    </div>
  <% end %>
</div>