.posts-container {
  max-width: 500px;
  margin: 0 auto;

  .post-list {
    list-style: none;
    padding: 0;

    .post {
      padding: 1em;
      border: solid 1px grey;
      margin: 1em 0;
      border-radius: 10px;

      h4 {
        margin-top: 0;
      }
    }
  }
}

.post-form {
}
